body {
    margin: 0;
    background-color: whitesmoke;
    position: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.side {
    width: 120px;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgb(2, 0, 129);
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 0;
    position: fixed;
    z-index: 4;
    border-right: 0px solid #0080ff49;
    text-align: center;
}
.main {
    width: 78%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgb(99, 99, 99);
    height: 92%;
    margin-top: 2%;
    margin-left: 130px;
    position: fixed;
    z-index: 4;
    border-right: 0px solid #0080ff49;
    text-align: center;
}

.content {
    width: 1000px;
    height: 2000px;
    background-color: gray;
    margin: 100px auto;
}

.fliter {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    position: fixed;
    z-index: 4;
}

@media screen and (max-width: 800px) {
}


* {
    color: aliceblue;
}

h1 {
    color: royalblue;
}

a:link {
    color: rgb(42, 0, 156);
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: aqua;
}