<link rel="stylesheet" href="/assets/css/sidebar.css">

<style>
    .rightsidenavboxes {
        color: whitesmoke;
        text-align: center;
        height: 75px;
        line-height: 75px;
    }
    .rightsidenavboxes:hover {
        color: rgb(209, 206, 206);
        background-color: rgba(17, 17, 17, 0.329);
    }
</style>

<div class="rightmain">
    <div class="rightupper">
        
    </div>
    <div class="rightlower">
        <div style="margin-top: 30px;">
            <a href="/index.html"><div class="rightsidenavboxes">首页</div></a>
            <a href="/about.html"><div class="rightsidenavboxes">关于</div></a>
            <a href="/blog.html"><div class="rightsidenavboxes">博客</div></a>
            <a href="/more.html"><div class="rightsidenavboxes">更多</div></a>
          </div>
    </div>

</div>
